body {
    font-family: 'Kanit', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    color: white;
}

/* Home Page  */
.carousel-item {
    display: none;
    transition: opacity 0.5s ease;
}

.carousel-item.active {
    display: block;
    opacity: 1;
}
/* End  */